<mat-card>
    <mat-card-title>Novo Produto</mat-card-title>
    <form>
        <mat-form-field>
             <input matInput placeholder="Nome" 
                [(ngModel)]="product.name" name="name"> 
        </mat-form-field>
        <mat-form-field>
            <input matInput placeholder="Preço (R$)" 
            [(ngModel)]="product.price" name="price"> 
        </mat-form-field>
        <mat-form-field>
            <input matInput placeholder="Descrição" 
            [(ngModel)]="product.description" name="description"> 
        </mat-form-field>
    </form>
    <button mat-mini-fab (click)="createProduct()" color="primary">
        <i class="material-icons ">
            add
        </i>
    </button>
    <button mat-mini-fab (click)="cancel()" color="basic">
        <i class="material-icons ">
            close
        </i>
    </button>
</mat-card>
